
# First, Denylist ignore everything
*
!*/

# Allowlist the file or folder
# !NotIgnoredFile
# !NotIgnoredFolder/

# Recursively allowlist its contents
# !NotIgnoredFolder/**

!.env
!.gitignore
!.gitmodules
!docker-compose.override.yml.example
!docker-compose.yml
!LICENSE
!README.md