version: '3'

services:

  syncthing:
    volumes:
      - "/:/Docker_Host/"
      
# # docker network create -d bridge bridge-local
# networks:
#   default:
#     name: bridge-local
#     external: true